h4{
    position : fixed;
    left : 470px ;
}
table{
    width : 75%;
    position : fixed;
    left : 100px ;
}
#button1{
    position : fixed;
    top : 250px ;
    left : 50px ;
}
#button2{
    position : fixed;
    top : 250px ;
    left : 250px ;
}
#button3{
    position : fixed;
    top : 250px ;
    left : 500px ;
}
#button4{
    position : fixed;
    top : 250px ;
    left : 750px ;
}